# Default values for all environments
{{ toYaml .Environment.Values }}

createDeployment: true

containerPort: true

container:
  image:
    repository: myapp
    pullPolicy: IfNotPresent
    tag: "latest"
  port: "8080"

resources: {}

service:
  {{ toYaml .Environment.Values.service | nindent 2 }}
  type: {{ toYaml .Environment.Values.service.type }}
  port: 8080
